header{
	text-align: center;
	padding: 50px;
}
form{
	padding-bottom: 20px;
}
#submit-btn{
	margin:0 auto;
	display:block;
}
textarea{
	border-radius: 5px;
}
.advert-div{
	background-color: #c7f6fe;
	text-align: center;
	padding-top: 50px;
}
.advert-h1{
	font-size: 50px;
}