body{
	overflow-x: hidden;
	font-family: Questrial;
	background-color: #f7f7f7;
}
h1, h2, h3, h4, h5, h6{
	font-family: Signika Negative;
}
#navbar{
	padding: 10px 40px;
	background-color: #4b339d;
/*background-color: #3f3d56;*/
	font-size: 18px;
	margin: 0;
	position: sticky !important;
	z-index: 1 !important;
}
h1, h2, h3, h4, h5, h6{
	font-family: Signika Negative;
}
.nav-logo{
	height: 70px;
	width: 70px;
	border-radius: 50%;
}

.nav-link{
	margin: 0 16px;
}



footer{
	padding: 30px 40px;
	background-color: #332b4e;
	color: white;
	font-size: 95%;
}
.green{
	color: #1fc71f;
}
.foot-pg-ul{
	margin: 0;
	padding: 10px 0;
}
.foot-pg-li{
	display: inline;
	margin-right: 5px;
}
.foot-pg-a{
	color: white;
}
.foot-pg-a:hover{
	color: #1fc71f;
	text-decoration: none;
}
.foot-p{
	padding: 30px 0;
}
.foot-center{
	line-height: 30px;
	vertical-align: middle;
}
.foot-div{
	display: flex;
}
.fa-map-marker{
	margin-top:  5px;
}
.foot-icons{
    font-size: 25px;
    margin-right: 10px;
}
.foot-right-p{
	font-size: 12px;
	margin-bottom: 25px;
}
.animated{
	animation-duration: 1s !important;
}
@media (max-width: 992px) {
	footer{
		text-align: center !important;
	}
	.row{
		margin: 0px !important;
	}
	.foot-div{
		display: block;
	}
	.foot-right-p{
		display: inline-block;
	}
	#footer{
		margin: 0px;
	}
}